---
import Layout from '../layouts/Layout.astro';
---

<Layout title="New in town:Hvala,Keong Saik — Matcha Demands All This Pomp And Pageantry">
  <section class="hero">
    <div class="container hero-blog-header">
      <div class="row align-items-center container">
        <div class="col-lg-6 col-12">
          <div>
            <span>
              <a href="blog.html">&lt; BACK TO BLOG</a>
            </span>
          </div>
          <div class="d-flex gap-3 mt-5 mb-4">
            <span>
              <a class="hero-span-a" href="#">MEDIA RELEASE</a>
            </span>
            <span>
              <a href="#">2 MIN READ</a>
            </span>
            <span>
              <a href="#">6TH OCT 2020</a>
            </span>
          </div>
          <h1>New In Town: Hvala, Keong Saik — Matcha Demands All This Pomp And Pageantry</h1>
        </div>
        <div class="col-lg-6 col-12">
          <div class="d-flex justify-content-center mt-5 mt-lg-0 ms-lg-5">
            <img class="img-fluid" src="/images/new-in-town-hvala.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="newtown-content container">
    <div class="container">
      <p>
        In just a short span of time, Hvala has achieved cult status as the ultimate matcha paradise. Not only are their
        matcha selections unparalleled, but their clean, minimalistic Japanese-inspired teahouse interior is just too
        #aesthetic for the millennial in us to resist.
      </p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="/images/new-in-town-instagram-blog.webp" alt="" />
      </div>
      <a class="ms-lg-5" href="#">View more on Instagram</a>

      <p class="mt-3">
        Already with two locations in <b>111 Somerset</b> and
        <a href="#">CHIJMES</a>, Hvala tops themselves with a new three-storey shophouse along the streets of <b
          >Keong Saik</b
        >. This new outlet sports a rather non-descript storefront that belies its beautiful interior.
      </p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="/images/new-in-town-blog-2.webp" alt="" />
      </div>
      <p>
        You’ll find spacious seating on the second-floor with muted grey cushions and elegant wooden chairs. For a more
        zen afternoon, head over to the third floor for traditional tatami seating. No emails allowed here, sil vous
        plait.
      </p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="/images/new-in-town-blog-3.webp" alt="" />
      </div>
      <p>
        Here, it’s not only matcha heaven but practically a utopia for those looking to lead a more vegan-friendly
        lifestyle. At this picturesque outlet, all of Hvala’s gelato flavours, cinnamon waffles and fudgy brownies are
        vegan friendly.
      </p>
      <p>
        I spot a gelato flavour that’s made with
        <a href="#">the famous Oatly</a> oat milk. It is also the default milk option Hvala is introducing to their
        drinks at no extra charge. Of course, if you still have a hankering for fresh milk, Hvala offers that option
        too.
      </p>
      <p>
        Which is why I can’t wait to try Hvala’s new
        <b><i> Kinako Paste With Gelato (S$8.80)</i></b>, which features a warm roasted soybean paste served with said
        Oatly gelato.
      </p>
      <p>
        Just a note, their cakes are still made with eggs and dairy but Hvala’s chefs are working on it, so stay tuned.
      </p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="/images/new-in-town-blog-4.webp" alt="" />
      </div>
      <p>
        One of the best parts of this new Hvala is the futuristic ordering system. All you have to do is place your
        orders with these kiosks and you’ll get the food delivered right to your table, seamless and fuss-free. Honey,
        this new Hvala outlet gets my vote.
      </p>
      <div class="d-flex justify-content-center mb-3">
        <img class="img-fluid" src="/images/new-in-town-blog-5.webp" alt="" />
      </div>
      <p>
        A gorgeous shophouse with quality matcha and vegan-friendly gelato? I see a perfect Sunday afternoon in my
        horizons very soon.
      </p>
      <p class="ms-2">
        Source:
        <a href="#"> https://sethlui.com/hvala-singapore-oct-2020/</a>
      </p>
    </div>
  </section>
</Layout>

<style>
  .hero {
    background-color: #f0effc;
  }

  .hero-blog-header {
    padding-top: 100px;
    padding-bottom: 104px;
  }

  .hero-blog-header span a {
    color: #7a778d;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
  }

  .hero-span-a {
    background-color: #ffe7d6;
    font-weight: 500;
    color: #d75e0a !important;
    font-size: 12px;
    border-radius: 100px;
    padding: 4px 8px;
  }

  .hero h1 {
    font-size: 46px;
  }

  .hero-blog-header img {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 8px 8px #d1d0f6;
    height: 422px;
    width: 422px;
  }

  @media (max-width: 992px) {
    .hero-blog-header img {
      width: 550px;
      height: 370px;
    }
  }

  .newtown-content {
    padding-top: 100px;
  }

  .newtown-content img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px #dbdae0;
    width: 1020px;
    height: 576px;
  }

  @media (max-width: 992px) {
    .newtown-content img {
      width: 485px;
      height: 270px;
    }
  }

  .newtown-content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #2c64db;
  }

  .newtown-content a:hover {
    color: #002fae;
  }
</style>
