---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Our Team">
  <section class="management-team">
    <div class="container">
      <div class="heading p-5 text-center">
        <h1 class="mb-3">Our Team</h1>
        <p>Meet the team that make the products behind YQueue.</p>
      </div>
      <div class="team-members">
        <h3 class="text-center team-title">Management</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/george-lim.webp" alt="" />
            <h4>George Lim</h4>
            <span>FOUNDER & CHAIRMAN</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/kevin-lee.webp" alt="" />
            <h4>Kevin Lee</h4>
            <span>CHIEF EXECUTIVE OFFICER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/luke-vear.webp" alt="" />
            <h4>Luke Vear</h4>
            <span>CHIEF TECHNOLOGY OFFICER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/damian-sim.webp" alt="" />
            <h4>Damian Sim</h4>
            <span>CHIEF STRATEGIC PARTNERSHIP OFFICER</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="marketing-team mt-5 mb-5">
    <div class="container">
      <div class="team-members">
        <h3 class="text-center team-title">BD & Marteting</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/zachela-lek.webp" alt="" />
            <h4>Zachela Lek</h4>
            <span>SENIOR PARTNERSHIPS & MARKETING EXECUTIVE</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/guinevere-woon.webp" alt="" />
            <h4>Guinevere Woon</h4>
            <span>BD & MARKETING EXECUTIVE</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/geraldine-goh.webp" alt="" />
            <h4>Geraldine Goh</h4>
            <span>BD & MARKETING EXECUTIVE</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/beth-toh.webp" alt="" />
            <h4>Beth Toh</h4>
            <span>BD & MARKETING EXECUTIVE</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/marco-er.webp" alt="" />
            <h4>Marco Er</h4>
            <span>BD & MARKETING EXECUTIVE</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="engineers-team pt-5">
    <div class="container">
      <div class="team-members">
        <h3 class="text-center team-title">Engineers</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/avatar.webp" alt="" />
            <h4>Michael Prow</h4>
            <span>MOBILE APP ENGINEER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/marc-britton.webp" alt="" />
            <h4>Marc Britton</h4>
            <span>SENIOR MOBILE APP ENGINEER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/pavel-pilipovets.webp" alt="" />
            <h4>Pavel Pilipovets</h4>
            <span>SENIOR APP ENGINEER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/avatar.webp" alt="" />
            <h4>Mona Yao</h4>
            <span>WEB APP ENGINEER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/avatar.webp" alt="" />
            <h4>Aaron Chen</h4>
            <span>MOBILE APP ENGINEER</span>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 team-member">
            <img src="/images/avatar.webp" alt="" />
            <h4>Holly Dann</h4>
            <span>UI / UX DESIGNER</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .management-team,
  .engineers-team {
    background-color: #f9f9fb;
  }

  .management-team .heading h1 {
    font-size: 64px;
  }

  .team-members .team-title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 64px;
  }

  .team-members .team-member {
    text-align: center;
    margin-bottom: 64px;
  }

  .team-members .team-member h4 {
    font-size: 20px;
    margin-top: 30px;
  }

  .team-members .team-member span {
    background-color: #ffe7d6;
    font-weight: 500;
    color: #d75e0a;
    font-size: 12px;
    border-radius: 100px;
    padding: 4px 8px;
  }
</style>
