---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Terms of Use">
  <div class="container">
    <div class="terms-of-use mt-5 ms-4 mb-5 me-4">
      <div>
        <span> UPDATED 21/08/18</span>
        <h1>Terms of Use</h1>
        <div class="sub-heading">
          <div class="mb-1">TERMS AND CONDITIONS GOVERNING USE OF YQUEUE APP.</div>
          <div class="mb-3">PLEASE READ CAREFULLY BEFORE DOWNLOADING OR USING THE YQUEUE APP.</div>
        </div>
        <p>
          This end-user licence agreement (“EULA”) is a legal agreement between you (“End-user” or “you”) and YQueue
          Singapore Pte Ltd (UEN No: 201624243Z), whose registered address is 400 Orchard Road, #05-16, Orchard Towers,
          Singapore 238875, (“Jadon”, “us” or “we”) for the YQueue mobile application software, all services, features,
          tools, data or content supplied with the software, and associated media (“YQueue App”), as well as the web
          portal for the YQueue App (“YQueue Website”).
          <br />
          <br />
           We license use of the YQueue App to you on the basis of this EULA and subject to any rules or policies
          applied by any appstore provider or operator from whose site (“YQueue Appstore”) the End-user downloaded the
          YQueue App (“YQueue Appstore Rules”). We do not sell the YQueue App to you. We remain the owners of the YQueue
          App at all times.
        </p>
      </div>

      <div class="agreed-term">
        <h2>Agreed Terms:</h2>
        <h4>Acceptance of terms of service</h4>
        <div>
          <p>
            By downloading the YQueue App from this website or clicking on the “Accept” button below you agree to the
            terms of the licence which will bind you. The terms of the licence include, in particular, the Data
            Protection Policy defined in Clause 15.4.
          </p>
          <ol type="a">
            <li>
              The terms of this EULA apply to the YQueue App, YQueue Website or any of the services, features, tools,
              data, software and content accessible through the YQueue App or YQueue Website (“Services”), including any
              updates, upgrades or supplements to the YQueue App or any Service, unless they come with separate terms,
              in which case those terms apply and take precedence over any term that is inconsistent with this EULA. If
              any open-source software is included in the YQueue App or any Service, the terms of an open-source licence
              may override some of the terms of this EULA.
            </li>
            <li>
              If you do not agree to the terms of this licence, we will not license the YQueue App to you and you must
              stop the downloading process now by clicking on the “Cancel” button below and deleting the YQueue App. If
              you click “Cancel” the downloading process will terminate.
            </li>
            <li>
              In order to use the YQueue App, YQueue Website and the Services, you must be at least [18 years of age]
              and have the right and legal authority to enter into this EULA on your own behalf, or otherwise have your
              parent or guardian’s consent to this EULA.
            </li>
          </ol>
        </div>
        <div>
          <h4>Grant and scope of licence</h4>
          <p>
            In consideration of you agreeing to abide by the terms of this EULA, we grant you a non-transferable,
            non-sublicensable, non-exclusive licence to download, install and use the YQueue App and the Services on any
            mobile telephone or handheld devices that you use to access the YQueue App and the Services (“Devices”)
            strictly for personal, non-commercial use only, and subject to these terms as set out in the Data Protection
            Policy as defined in Clause 15.4 and the YQueue Appstore Rules, which are incorporated into this EULA by
            reference. You may also receive and use updates of the YQueue App incorporating “patches” and corrections of
            errors as we may provide to you. We reserve all other rights.
          </p>
          <ol type="a">
            <li>
              You may download a copy of the YQueue App to view, use, access and display the YQueue App on the Devices
              strictly for personal and non-commercial use only.
            </li>
            <li>
              As mentioned in Clause 2.1, the license granted to download, install and use the YQueue App and the
              Services is non-transferable. You may not transfer the YQueue App or the Service to someone else, whether
              for money, for anything else or for free. If you sell any device on which the YQueue App is installed, you
              must remove the YQueue App from it.
            </li>
          </ol>
        </div>
        <div>
          <h4>Licence restrictions</h4>
          <p>Except as expressly set out in this EULA or as permitted by Singapore law, you agree:</p>
          <ol type="a">
            <li>
              not to copy the YQueue App except where such copying is incidental to normal use of the YQueue App, or
              where it is necessary for the purpose of back-up or operational security;
            </li>
            <li>not to rent, lease, sub-license, loan, translate, merge, adapt, vary or modify the YQueue App;</li>
            <li>
              not to make alterations to, or modifications of, the whole or any part of the YQueue App, or permit the
              YQueue App or any part of it to be combined with, or become incorporated in, any other programs;
            </li>
            <li>
              not to disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part
              of the YQueue App or attempt to do any such thing except to the extent that (by virtue of Section 261D of
              the Copyright Act (Cap. 63)) such actions cannot be prohibited because they are essential for the purpose
              of achieving inter-operability of the YQueue App with another software program, and provided that the
              information obtained by you during such activities:
            </li>
            <ol type="i">
              <li>
                is used only for the purpose of achieving inter-operability of the YQueue App with another software
                program;
              </li>
              <li>is not disclosed or communicated without our prior written consent to any third party; and</li>
              <li>is not used to create any software that is substantially similar to the YQueue App;</li>
            </ol>
            <li>
              to keep all copies of the YQueue App secure and to maintain accurate and up-to-date records of the number
              and locations of all copies of the YQueue App;
            </li>
            <li>
              to include our copyright notice on all entire and partial copies you make of the YQueue App on any medium;
            </li>
            <li>
              not to provide or otherwise make available the YQueue App in whole or in part (including object and source
              code), in any form to any person without prior written consent from us; and
            </li>
            <li>
              to comply with all technology control or export laws and regulations that apply to the technology used or
              supported by the YQueue App or any Service (“Technology”), together “Licence Restrictions”.
            </li>
          </ol>
        </div>
        <div>
          <h4>Acceptable use restrictions</h4>
          <p>You must:</p>
          <ol type="a">
            <li>
              not use the YQueue App, YQueue Website or any Service in any unlawful manner, for any unlawful purpose, or
              in any manner inconsistent with this EULA, or act fraudulently or maliciously, for example, by hacking
              into or inserting malicious code, including viruses, or harmful data, into the YQueue App, YQueue Website,
              any Service or any operating system;
            </li>
            <li>
              not infringe our intellectual property rights or those of any third party in relation to your use of the
              YQueue App, YQueue Website or any Service, including the submission of any material (to the extent that
              such use is not licensed by this EULA);
            </li>
            <li>
              not use the YQueue App, YQueue Website or any Service to transmit any material that is defamatory,
              offensive or otherwise objectionable, or in a way that could damage, disable, overburden, impair or
              compromise our systems or security or interfere with other users; and
            </li>
            <li>
              not collect or harvest any information or data from any Service or our systems or attempt to decipher any
              transmissions to or from the servers running any Service.
            </li>
            <li>
              Jadon reserves the right to stop you from using the YQueue App and YQueue Website if it reasonably
              suspects that you have breached or may breach any of the acceptable use restrictions in this Clause 4, or
              any of the other terms in this EULA.
            </li>
          </ol>
        </div>
        <div>
          <h4>Payment method and related terms</h4>
          <p>
            You may register your credit/debit/charge card or bank account on the YQueue App to facilitate the
            processing of payment transactions (including donations) using the YQueue App. Payment transactions
            (including donations) are processed by a third party payment provider, and subject to any terms and
            conditions that may be imposed by the third party payment provider. Jadon does not collect or use any your
            credit/debit/charge card or bank account details. It is also not liable for any losses or damages that you
            may sustain in relation to your payment transactions (including donations), use of the third party payment
            provider or payment to any Merchants or donations to any Charities.
          </p>
          <p>For the purposes of this EULA:</p>
          <ol type="a">
            <li>
              “Merchant” means an establishment that offers, via the YQueue App, any product or service that it
              supplies, or makes available for supply, to you, including any type of food or beverage; and
            </li>
            <li>
              “Charity” means a charity as defined in the Charities Act (Cap. 37), to which you can make donations via
              the YQueue App.
            </li>
            <li>
              All payments made via the YQueue App are final and you are not entitled to any refunds. When the third
              party payment provider confirms to Jadon that you have paid for the goods and/or service or made a
              donation, Jadon will issue an invoice to you on the YQueue App or to your registered email account.
            </li>
            <li>
              For your payment of goods and/or service to Merchants, you must raise any dispute in relation to the
              invoice with Jadon in writing within seven (7) days from the date of the invoice, following which Jadon
              will not be obliged to respond or deal with the disputes raised. In all such cases, Jadon reserves the
              discretion to require that you raise the dispute directly with the Merchant in question, and not Jadon.
            </li>
            <li>
              For your donations to Charities, after the issue of the invoice, you must deal directly with the Charity
              in question, in relation to any dispute in respect of the invoice or otherwise.
            </li>
            <li>
              All donations you make via the YQueue App will be transferred in gross directly from the third party
              payment provider to the relevant Charity, subject to any terms and conditions that may be imposed by the
              third party payment provider, including without limitation, levying a separate fee for its services. For
              providing the YQueue App to enable the Charities to receive donations and carry out all other associated
              activities, we, as a commercial entity, will be paid a separate service fee by the Charities.
            </li>
            <li>
              Never disclose your YQueue App username or password to any third party. Keep them safe and change your
              password regularly. We will never ask you to provide your password to us or to a third party. You must
              never let anyone access your YQueue App account or watch you access it. Let Customer Support know
              immediately if you suspect that your account has been compromised, by emailing Customer Support at <a
                href="#">support@yqueue.com.sg</a
              >.
            </li>
            <li>
              Where there has been a sign in to your YQueue App account with the valid login credentials, we are
              entitled to rely on your authorisation and to process any transactions.
            </li>
            <li>
              We may suspend your YQueue App account or otherwise restrict its functionality if we have concerns about:
            </li>

            <ol>
              <li>the security of the YQueue App account or any of its security features; or</li>
              <li>unauthorised or fraudulent use of your YQueue App account or any of its security features.</li>
            </ol>

            <li>
              We will notify you of any suspension or restriction of your YQueue App account and of the reasons for such
              suspension or restriction as soon as we can, unless notifying you would be unlawful or compromise our
              reasonable security interests. We will lift the suspension and/or the restriction as soon as practicable
              after the reasons for the suspension and/or restriction have ceased to exist.
            </li>
            <li>
              You must make sure that your email account(s) are secure and only accessed by you, as your email address
              may be used to reset passwords or to communicate with you about the security of your YQueue App account.
              Let Customer Support know immediately if your email address becomes compromised, by emailing Customer
              Support at <a href="#">support@yqueue.com.sg</a>.
            </li>
            <li>
              Never use any functionality that allows login details or passwords to be stored by the computer or browser
              you are using or to be cached or otherwise recorded.
            </li>
            <li>
              To the fullest extent permitted by applicable law, you shall be responsible for any and all loss, damage,
              liabilities, claims, costs and expenses incurred (whether by you; Jadon and our officers, directors,
              employees, suppliers, agents and related entities; and/or any other third party), which arise out of or in
              connection with an unauthorised transaction from your YQueue App account resulting from your fraudulent
              act and/or your failure, for any to use your YQueue App in accordance with the terms of this EULA.
            </li>
            <li>We agree to comply with the Chargeback process and be financially liable for such Chargebacks.</li>
          </ol>
        </div>
        <div>
          <h4>Third party sites and services</h4>
          <ol type="a">
            <li>
              The YQueue App, YQueue Website or any Service may contain links to other independent third-party websites
              (“Third-party Sites”). Third-party Sites are not under our control, and we are not responsible for and do
              not endorse their content or their data protection policies (if any). You will need to make your own
              independent judgement regarding your interaction with any Third-party Sites, including the purchase and
              use of any products, services, data or content accessible through them.
            </li>
            <li>
              Merchants provide their own menus, products and services, and set the menus, price and availability of
              their products and services. Jadon has no control over the price and availability of products and services
              or the menus displayed on the YQueue App and makes no representations or warranties (whether express of
              implied) in relation to the accuracy, quality, condition, price or availability of menus, products and
              services provided by the Merchants.
            </li>
            <li>
              Charities are solely responsible for providing true and updated information about themselves, use of
              donations and all other material information. Jadon makes no representations or warranties (whether
              express or implied) in relation to the truth or accuracy of the information provided by the Charities, use
              of donations by the Charities for any particular purpose, or any misuse or non-use of donations by the
              Charities. You agree and understand that all donations made by you are made voluntarily and at your sole
              discretion and risk.
            </li>
            <li>
              Once you have confirmed your order to a Merchant or donation to a Charity, the order or donation (as the
              case may be) cannot be changed or cancelled. The transaction will be considered completed and no refunds
              will be made. Should you wish to change or cancel your order or donation, please contact the Merchant or
              Charity (as the case may be) directly.
            </li>
          </ol>
        </div>
        <div>
          <h4>Intellectual property rights</h4>
          <ol type="a">
            <li>
              You acknowledge that all intellectual property rights in the YQueue App, YQueue Website and the Technology
              anywhere in the world belong to us or our licensors, that rights in the YQueue App are licensed (not sold)
              to you strictly for personal, non-commercial use only, and that you have no rights in, or to, the YQueue
              App, YQueue Website or the Technology other than the right to use each of them in accordance with the
              terms of this EULA.
            </li>
            <li>You acknowledge that you have no right to have access to the YQueue App in source-code form.</li>
          </ol>
        </div>
        <div>
          <h4>Mobile services</h4>
          <p>
            You shall be solely responsible for all charges in relation to your use of and access to the YQueue App,
            YQueue Website and the Services, including but not limited to any fees or charges imposed by your service
            provider for internet access on the Devices.
          </p>
        </div>
        <div>
          <h4>Where your content is stored</h4>
          <ol type="a">
            <li>
              You agree and acknowledge that any photo, image, video or other data or content that you add, create,
              upload, submit, distribute, post or display on or to the YQueue App and YQueue Website (“User Content”)
              which are uploaded, transmitted, submitted, posted or otherwise provided via any Third-party Site or any
              third party products or services may be subject to separate terms and conditions as may be imposed by such
              third parties, and they may retain the right to store or use the User Content on their servers or
              databases. We have no liability or responsibility in relation to any such content.
            </li>
            <li>
              You consent and agree to permit us to store any User Content via cloud computing with a third party
              provider, for the purposes of providing you with continued access to the YQueue App, YQueue Website and
              the Services. We will take all steps reasonably necessary to ensure that the User Content is treated
              securely and in accordance with this EULA and the applicable laws and regulations. You agree that your
              submission of such information or User Content is at your sole risk, and we hereby disclaim any and all
              liability to you for any loss or liability relating to such information in any way, to the maximum extent
              permitted by law.
            </li>
          </ol>
        </div>
        <div>
          <h4>Termination</h4>
          <p>We may terminate this EULA immediately, with or without written notice to you:</p>
          <ol type="a">
            <li>
              if you commit a breach of this EULA which you fail to remedy (if remediable) within fourteen (14) days
              after the service of written notice requiring you to do so; or
            </li>
            <li>if you breach any of the Licence Restrictions or the Acceptable Use Restrictions.</li>
            <li>We will make reasonable efforts to notify you of such termination.</li>
            <li>On termination for any reason:</li>

            <ol type="i">
              <li>all rights granted to you under this EULA shall cease;</li>
              <li>
                you must immediately cease all activities authorised by this EULA, including your use of the YQueue App,
                YQueue Website and any Services;
              </li>
              <li>
                you must immediately delete or remove the YQueue App from all Devices, and immediately destroy all
                copies of the YQueue App then in your possession, custody or control and certify to us that you have
                done so; and
              </li>
              <li>
                we may remotely access the Devices and remove the YQueue App from all of them and cease providing you
                with access to the Services.
              </li>
            </ol>
          </ol>
        </div>
        <div>
          <h4>Indemnity</h4>
          <p>
            By using the YQueue App, YQueue Website and the Services, you agree, to the maximum extent permitted by law,
            to indemnify and hold us and our directors, partners, officers, employees, affiliates, agents, contractors
            and licensors harmless in respect of any claims arising out of your breach of this EULA, your use of the
            YQueue App, YQueue Website or the Services, or any action taken by us as part of our investigation of a
            suspected breach of this EULA or as a result of a finding or decision that a breach of this EULA has
            occurred, or anything else in relation to the use of the YQueue App, YQueue Website or the Services.
          </p>
        </div>
        <div>
          <h4>Disclaimers</h4>
          <ol type="a">
            <li>
              We do not guarantee, represent, or warrant that your use of the YQueue App, YQueue Website or any of the
              Services will be uninterrupted, error-free, or free from loss, corruption, attack, viruses, interference,
              hacking or other security intrusion.
            </li>
            <li>
              You agree that, from time to time, we may remove or disable the YQueue App, YQueue Website or the Services
              for indefinite periods of time, or cancel the YQueue App, YQueue Website or the Services at any time,
              without notice to you.
            </li>
            <li>
              You expressly agree that your use of and access to the YQueue App, YQueue Website or the Services is at
              your sole risk. You acknowledge that the YQueue App has not been developed to meet your individual
              requirements, and that it is therefore your responsibility to ensure that the facilities and functions of
              the YQueue App meet your requirements. The YQueue App, YQueue Website and the Services are (except as
              expressly stated by us) provided on an “as is” and “as available” basis for your use, without warranties
              of any kind, either express or implied, including all implied warranties of merchantability, fitness for a
              particular purpose, title, and non-infringement, to the maximum extent permitted by law.
            </li>
            <li>
              You agree to obtain all relevant and necessary authorisations, consents and permissions from the owners of
              any Devices not owned by you to download and install a copy of the YQueue App onto such Devices, and to
              use and access the YQueue App and the Services on such Devices. You accept responsibility in accordance
              with the terms of this EULA for the use of the YQueue App or any Services on or in relation to any Device,
              whether or not it is owned by you.
            </li>
            <li>
              We shall not be liable or responsible for any failure to perform, or delay in performance of, any of our
              obligations under this EULA that is caused by any act or event beyond our reasonable control, including
              failure of any public or private telecommunications networks.
            </li>
          </ol>
        </div>
        <div>
          <h4>Limitation of liability</h4>
          <ol type="a">
            <li>
              We supply the YQueue App, YQueue Website and the Services to you strictly for personal and non-commercial
              use only. You agree not to use the YQueue App, YQueue Website and the Services for any commercial,
              business or resale purposes, and we and our directors, partners, officers, employees, affiliates, agents,
              contractors or licensors have no liability to you for any loss of profit, loss of business, business
              interruption, or loss of business opportunity.
            </li>
            <li>
              You further agree and acknowledge that, to the maximum extent permissible under law, we and our directors,
              partners, officers, employees, affiliates, agents, contractors or licensors have no liability or
              responsibility to you in respect of any loss or damage you may suffer arising from your use of the YQueue
              App, YQueue Website or the Services, or for any other claim related in any way to your use of the YQueue
              App, YQueue Website or the Services, including, but not limited to, any errors or omissions in any
              content, or any loss or damage of any kind incurred as a result of the use of any content posted,
              transmitted, or otherwise made available via the YQueue App, YQueue Website or the Services, even if
              advised of their possibility. This includes any loss of rewards stored in the YQueue App, such as rewards
              points and vouchers, as well as the loss of any pre-purchased credits.
            </li>
          </ol>
        </div>
        <div>
          <h4>Communication between us</h4>
          <ol type="a">
            <li>
              If you wish to contact us in writing, or if any clause in this EULA requires you to give us notice in
              writing, you can send this to us by email or by prepaid post to YQueue Singapore Pte Ltd at 400 Orchard
              Road, #05-16, Orchard Towers, Singapore 238875 or <a href="#">support@yqueue.com.sg</a>. We will confirm
              receipt of this by contacting you in writing, normally by email.
            </li>
            <li>
              If we have to contact you or give you notice in writing, we will do so by email to the address you provide
              to us in your request for the YQueue App.
            </li>
          </ol>
        </div>
        <div>
          <h4>Other important terms</h4>
          <ol type="a">
            <li>
              This EULA (including any other document referred to herein) constitutes the entire agreement between you
              and us in relation to your use of the YQueue App, YQueue Website and the Services, and supersedes any
              prior agreements between you and us.
            </li>
            <li>
              We reserve the right to change these terms at any time. You will be notified of such change (if any) when
              you next start the YQueue App or log in to the YQueue Website, or by such other means as determined by
              Jadon in its sole and absolute discretion. The new terms may be displayed on-screen and you may be
              required to read and accept them to continue your use of the Services.
            </li>
            <li>
              From time to time, updates to the YQueue App may be issued through the YQueue Appstore. Depending on the
              update, you may not be able to use the YQueue App, YQueue Website or Services until you have downloaded
              the latest version of the YQueue App and accepted any new terms. You hereby agree that we shall not be
              responsible or liable in any way for any loss or corruption in any data arising from your transitioning to
              a newer or different version of the YQueue App.
            </li>
            <li>
              The terms of our data protection policy from time to time, available at
              <a href="#">https://www.yqueue.co/sg/legal/privacy-policy (“Data Protection Policy”)</a>
               are incorporated into this EULA by reference. Additionally, by using the YQueue App, YQueue Website or
              any Service, you acknowledge and agree that internet transmissions are never completely private or secure.
              You understand that any message or information you send using the YQueue App, YQueue Website or any
              Service may be read or intercepted by others, even if there is a special notice that a particular
              transmission is encrypted.
            </li>
            <li>
              We may transfer our rights and obligations under this EULA to another organisation, but this will not
              affect your rights or our obligations under this EULA.
            </li>
            <li>
              You may only transfer your rights or obligations under this EULA to another person if we agree in writing.
            </li>
            <li>
              Persons not party to this EULA have no rights under the Contracts (Rights of Third Parties Act (Cap. 53B)
              to enforce any term of this agreement.
            </li>
            <li>
              If we fail to insist that you perform any of your obligations under this EULA, or if we do not enforce our
              rights against you, or if we delay in doing so, that will not mean that we have waived our rights against
              you and will not mean that you do not have to comply with those obligations. If we do waive a default by
              you, we will only do so in writing, and that will not mean that we will automatically waive any later
              default by you.
            </li>
            <li>
              Each of the clauses of this EULA operates separately. If any court or competent authority decides that any
              of them are unlawful or unenforceable, the remaining clauses will remain in full force and effect.
            </li>
            <li>
              This EULA shall be construed and interpreted in accordance with and governed by the laws of Singapore, and
              you agree that any dispute arising from or relating to the subject herein shall be governed by the
              exclusive jurisdiction of the Singapore courts.
            </li>
            <li>
              Should you have any questions, issues or disputes in relation to this EULA, including any question
              regarding its existence, validity or termination, please contact us by mail, email or telephone at YQueue
              Singapore Pte Ltd, 400 Orchard Road, #05-16, Orchard Towers, Singapore 238875,
              <a href="#">support@yqueue.com.sg</a> or +65 69044827.
            </li>
            <li>
              In the case of a dispute where both you and Jadon are unable to come to an agreement within sixty (60)
              days’ of the dispute being raised, you agree for the dispute to be referred to and finally resolved by
              arbitration in Singapore in accordance with the Arbitration Rules of the Singapore International
              Arbitration Centre (“SIAC Rules”) for the time being in force, which rules are deemed to be incorporated
              by reference in this clause. The seat of the arbitration shall be Singapore. The Tribunal shall consist of
              three (3) arbitrators. The language of the arbitration shall be in English.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  main span {
    background-color: #ffe7d6;
    font-weight: 500;
    color: #d75e0a;
    font-size: 12px;
    border-radius: 100px;
    padding: 4px 8px;
  }

  .terms-of-use h1 {
    margin-bottom: 60px;
    font-size: 60px;
    margin-top: 18px;
  }

  .sub-heading {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .terms-of-use p {
    font-size: 16px;
  }

  .agreed-term h2 {
    margin-top: 64px;

    font-size: 40px;
  }

  .agreed-term h4 {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: 600;
  }

  .agreed-term li {
    margin-bottom: 24px;
  }

  .agreed-term li a {
    text-decoration: none;
    color: #2557d6;
    font-weight: 500;
  }

  .agreed-term li a:hover {
    color: #002fae;
  }

  .agreed-term p a {
    text-decoration: none;
    color: #2557d6;
    font-weight: 500;
  }

  .agreed-term p a:hover {
    color: #002fae;
  }
</style>
